* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(2, 2, 53);
    height: 80px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover,
footer a:hover {
    font-size: 1.15rem;
    color: aqua
}

.left {
    margin: 30px 0;
    font-size: 1.5rem;
}

.right {
    margin: 30px 0;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 55px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}

.rightSection img {
    width: 88%;
    border: 12px solid rgb(42 69 80);
    border-radius: 180px;
}

#element,
text-purple {
    color: rgb(200 107 200);
}

hr {
    background-color: rgb(101, 155, 230);
    height: 1px;
    border: 0;
    margin: 10px 69px;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 30vw;
}

footer {
    background-color: rgb(3 23 49);
    max-width: 80vw;
    margin: auto;
    padding: 8px 0px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
}

.footer-flex ul li a {
    margin: 0px 10px;
}

.footer-flex img {
    width: 20px;
    height: 20px;
    margin: 4px 4px;
}

.footer-flex h3 {
    margin: 5px;
}

.footer-logo {
    width: 45px;
    height: 45px;
    float: left;
    padding: 0px;
    margin: -5px 10px;
}

.footer-first h2 {
    margin: 10px;
}

.copy {
    margin: 0px;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
}